.hidden {
    display: none;
}

#warpper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#watch-time {
  text-align: center;
  font-size: 70px;
}

#watch-day {
  text-align: center;
  font-size: 30px;
}

.login {
  margin-top : 30px;
  text-align: center;
}
.logout {
  margin-top : 30px;
  text-align: center;
}
.logout span {
  font-size: 20px;
}
.todo {
  margin-top : 30px;
  text-align: center;
}
.weather {
  margin-top : 10px;
  text-align: center;
  font-size: 30px;
}
#todo-list {
  text-align: left;
}